1. Write a code to reverse a string

In [ ]:
3str = "Hello World!"

print(str[::-1])

!dlroW olleH

2. Write code to count the number of vowels in string

In [ ]:
str = "Hi, my name is Rahul"
str = str.lower()
count = 0

for i in str:
  if i == "a" or i == "e" or i == "i" or i == "o" or i =="u":
    count+=1

print("Total vowels are : ", count)

Total vowels are :  5

3. Write code to check if given string is palindrome or not

In [ ]:
string = str(input("Enter a string : "))

str1 = string.lower()
revStr = str1[::-1]

if str1 == revStr:
  print(f"Given string '{string}' is Palindrome.")
else:
  print(f"Given string '{string}' is Not Palindrome.")

Enter a string : Nitin
Given string 'Nitin' is Palindrome.

4. Write code to check if two given strings are anagrams of each other?

In [ ]:
str1 = "Silent"
str2 = "Listen"

sorted_str1 = sorted(str1.lower())
sorted_str2 = sorted(str2.lower())


if sorted_str1 == sorted_str2:
  print("The given two strings are anagrams of each other")
else:
  print("The given two strings are not anagrams of each other")

The given two strings are anagrams of each other

5. Write code to find all occurrences of a given substring within another string?

In [ ]:
str1 = "What a car, I have a car, do you have a car"

string = str1.lower()
substring = "car"

count=0
occurance = []

for i in range(len(string)):
  if string.startswith(substring, i):
    occurance.append(i)
    count+=1

if count>0:
  print(f"The given substring '{substring}' has occured {count} times at index no. {occurance}")
else:
  print(f"There is no such substring '{substring}' present in the string.")

The given substring 'car' has occured 3 times at index no. [7, 21, 40]

6. Write a code to perform basic string compression using the counts of repeated characters

In [ ]:
string = "tttttuuuutorrrriaaaaalllllll"

strli =[]
count = 1
pre = string[0]

for i in range(1, len(string)):
  pointer = string[i]
  if pre == pointer:
    count+=1
  else:
    strli.append(pre)
    strli.append(str(count))
    pre = pointer
    count = 1

strli.append(pre)
strli.append(str(count))
compressed  = "".join(strli)

if len(compressed) < len(string):
  print(compressed)
else:
  print(string)

t5u4t1o1r4i1a5l7

7. Write a code to determine if a string has all unique characters.

In [ ]:
string = "Ahan"

str1 = string.lower()
str2 = ""

for i in str1:
  if i not in str2:
    str2+=i

if str1 == str2:
  print(f"string '{str1}' contains all Unique characters.")
else:
  print(f"string '{str1}' contains Duplicate characters")

string 'ahan' contains Duplicate characters

8. Write a code to convert a given string to uppercase or lowercase.

In [ ]:
string = input("Enter a string : ")

print("uppercase : ", string.upper())
print("lowercase : ", string.lower())

Enter a string : khan
uppercase :  KHAN
lowercase :  khan

9. Write a code to count the number of words in a string

In [ ]:
string = "Apple a day keeps doctor away"

if string.strip() == "":
  print("String is empty")

str1 = string.split()

print("The number of words in a given string is : ", len(str1))

String is empty
The number of words in a given string is :  0

10. Write a code to concatenate two strings without using the + operator

In [ ]:
str1 = "I have a "
str2 = "car & bike"

concat = "".join([str1,str2])

print(concat)
print(f"{str1}{str2}")  #Another simple way

I have a car & bike
I have a car & bike

11. Write a code to remove all occurrences of a specific element from a list

In [ ]:
li = ["Apple", "Banana", "Mango", "Apple", "Papaya"]

element = "Apple"
li1 = []

for i in li:
  if i != element:
    li1.append(i)

print(li1)

['Banana', 'Mango', 'Papaya']

12.  Implement a code to find the second largest number in a given list of integers

In [ ]:
li = [120, 21, 90, 1, 5, 15, 35, 105]

if len(li) == 0 or len(li) < 2:
  print("given list is empty or there is only one element in the List")
else:
  li1 = sorted(li)
  print("Second Largest number in the given list is : ", li1[-2])

Second Largest number in the given list is :  105

13. Create a code to count the occurrences of each element in a list and return a dictionary with elements as
keys and their counts as values

In [ ]:
li = ["Apple", "Papaya", "Potato", "Mango", "Apple", "Potato", "Tomato", "Apple", "Mango", "Mango", "Apple"]

def makedict(li):
  mydict = {}
  for i in li:
    mydict[i] = li.count(i)
  return mydict

makedict(li)

{'Apple': 4, 'Papaya': 1, 'Potato': 2, 'Mango': 3, 'Tomato': 1}

Another approach to solve the Q13

In [ ]:
li = ["Apple", "Papaya", "Potato", "Mango", "Apple", "Potato", "Tomato", "Apple", "Mango", "Mango", "Apple"]

def makedict(li):
  mydict = {}
  for i in li:
    if i in mydict:
      mydict[i] += 1
    else:
      mydict[i] = 1
  return mydict

print(makedict(li))

{'Apple': 4, 'Papaya': 1, 'Potato': 2, 'Mango': 3, 'Tomato': 1}

14. Write a code to reverse a list in-place without using any built-in reverse functions

In [ ]:
def revlist(li):
  left = 0
  right = len(li)-1

  while left < right:
    li[left],li[right] = li[right],li[left]
    left+=1
    right-=1

fruits = ['apple', 'banana', 'cherry', 'mango', 'orange','papaya']
revlist(fruits)
fruits

['papaya', 'orange', 'mango', 'cherry', 'banana', 'apple']

15. Implement a code to find and remove duplicates from a list while preserving the original order of elements

In [ ]:
li = ["Apple", "Papaya", "Potato", "Mango", "Apple", "Potato", "Tomato", "Apple", "Mango", "Mango", "Apple"]

def makelist(li):
  mylist = []
  for i in li:
    if i not in mylist:
      mylist.append(i)
  return mylist

print(makelist(li))

['Apple', 'Papaya', 'Potato', 'Mango', 'Tomato']

16. Create a code to check if a given list is sorted (either in ascending or descending order) or not

In [ ]:
# li = ["D","C","B","A"]

li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

asc = sorted(li)
des = asc[::-1]

if li==asc or li ==des:
  print("The given list is sorted (either in ascending or descending order)")
else:
  print("given is unsorted list")

The given list is sorted (either in ascending or descending order)

17.  Write a code to merge two sorted lists into a single sorted list

In [ ]:
lis1 = [1,3,5,7,9]
lis2 = [2,4,6,8,10]

lis3 = sorted(lis1+lis2)

print(lis3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

18.  Implement a code to find the intersection of two given lists

In [ ]:
lis1 = ["apple", "banana", "mango", "orange", "pineapple"]
lis2 = ["apple", "papaya", "mango", "orange", "chiku", "banana"]

def intersect(lis1, lis2):
  intersection = []
  for i in lis1:
    if i in lis2:
      intersection.append(i)
  return intersection

print(intersect(lis1, lis2))

['apple', 'banana', 'mango', 'orange']

19. Create a code to find the union of two lists without duplicates

In [ ]:
lis1 = ["apple", "banana", "mango", "orange", "pineapple"]
lis2 = ["apple", "papaya", "mango", "orange", "chiku", "banana"]

def makeunion(lis1, lis2):
  union = []
  for i in lis1+lis2:
    if i not in union:
      union.append(i)
  return union

print(makeunion(lis1, lis2))

['apple', 'banana', 'mango', 'orange', 'pineapple', 'papaya', 'chiku']

20. Write a code to shuffle a given list randomly without using any built-in shuffle functions

In [ ]:
import random

lis1 = ["apple", "banana", "mango", "orange", "pineapple"]

# Applying Fisher-Yates shuffle algorithm
def shuffle(lst):
  n = len(lst)
  for i in range(n):
    j = random.randint(i, n-1)
    lst[i], lst[j] = lst[j], lst[i]
  return lst

print(shuffle(lis1))

['apple', 'orange', 'banana', 'pineapple', 'mango']

21.  Write a code that takes two tuples as input and returns a new tuple containing elements that are
common to both input tuples

In [ ]:
def input_to_tuple(prompt):
    user_input = input(prompt)
    return tuple(user_input.split(','))

def common_elements(tup1, tup2):
    common = ()
    for i in tup1:
        if i in tup2:
            common += (i,)
    return common

# Taking two tuples as input from the user
tup1 = input_to_tuple("Enter the first tuple (comma-separated values): ")
tup2 = input_to_tuple("Enter the second tuple (comma-separated values): ")

# Finding and printing the common elements
result = common_elements(tup1, tup2)
print(f"The common elements are: {result}")

Enter the first tuple (comma-separated values): khan,huzaif,javeed,khan
Enter the second tuple (comma-separated values): huzaif,javeed
The common elements are: ('huzaif', 'javeed')

22. Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the
intersection of these two sets

In [ ]:
def makeIntersection(inp1, inp2):
  set1 = set(map(int, inp1.split(',')))
  set2 = set(map(int, inp2.split(',')))
  intersect = set1.intersection(set2)
  return intersect


inp1 = input("Enter the first set of integers (comma-separated values): ")
inp2 = input("Enter the second set of integers (comma-separated values): ")
print("Intersection of the given two sets is : ",makeIntersection(inp1,inp2))

Enter the first set of integers (comma-separated values): 3,7,12,9,4,91,0,6
Enter the second set of integers (comma-separated values): 1,5,7,3,2,9,8,4
Intersection of the given two sets is :  {9, 3, 4, 7}

23. Write a code to concatenate two tuples. The function should take two tuples as input and return a new
tuple containing elements from both input tuples.

In [ ]:
def concatTuple(inp1, inp2):
    tup1 = tuple(inp1.split(','))
    tup2 = tuple(inp2.split(','))
    result = tup1 + tup2
    return result

inp1 = input("Enter the first tuple (comma-separated values): ")
inp2 = input("Enter the second tuple (comma-separated values): ")
print("Concatenated tuple:", concatTuple(inp1, inp2))

Enter the first tuple (comma-separated values): Apple, Banana, Mango, cherry, Tomato, Potato, Orange
Enter the second tuple (comma-separated values): chicku, papaya, strawberry
Concatenated tuple: ('Apple', ' Banana', ' Mango', ' cherry', ' Tomato', ' Potato', ' Orange', 'chicku', ' papaya', ' strawberry')

24. Develop a code that prompts the user to input two sets of strings. Then, print the elements that are
present in the first set but not in the second set

In [ ]:
def makeDiff(inp1, inp2):
    set1 = set(map(str.strip, inp1.split(',')))
    set2 = set(map(str.strip, inp2.split(',')))
    return set1 - set2

inp1 = input("Enter the first set of strings (comma-separated values): ")
inp2 = input("Enter the second set of strings (comma-separated values): ")
print("Elements that are present in the first set but not in the second set are:", makeDiff(inp1, inp2))

Enter the first set of strings (comma-separated values): Apple, Banana, Mango, cherry, Tomato, Potato, Orange
Enter the second set of strings (comma-separated values): chicku, papaya, strawberry, Apple, cherry, Banana, Mango
Elements that are present in the first set but not in the second set are: {'Orange', 'Tomato', 'Potato'}

 25. Create a code that takes a tuple and two integers as input. The function should return a new tuple
containing elements from the original tuple within the specified range of indices

In [ ]:
def makeTuple(inpTup, start, end):
  makeTup = tuple(inpTup.split(','))
  if start<0 or end>len(makeTup) or start>=end:
    return "Enter valid range"
  else:
    NewTup = makeTup[start : end]
    print(f"New Tuple from index {start} to {end-1} is {NewTup}")

inpTup = input("Enter the elements of tuple (comma-separated values): ")
start = int(input("Enter the starting index : "))
end = int(input("Enter the final index : "))
makeTuple(inpTup, start, end)

Enter the elements of tuple (comma-separated values): Apple, Banana, Mango, cherry, Tomato, Potato, Orange, cherry, Banana, Mango
Enter the starting index : 1
Enter the final index : 9
New Tuple from index 1 to 8 is (' Banana', ' Mango', ' cherry', ' Tomato', ' Potato', ' Orange', ' cherry', ' Banana')

26. Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets

In [ ]:
def makeUnion(inp1, inp2):
    set1 = set(inp1.split(','))
    set2 = set(inp2.split(','))
    union_set = set1.union(set2)
    return union_set


inp1 = input("Enter the first set of characters (comma-separated values): ")
inp2 = input("Enter the second set of characters (comma-separated values): ")

print("Union of the given two sets is:", makeUnion(inp1, inp2))

Enter the first set of characters (comma-separated values): A, B, C, D
Enter the second set of characters (comma-separated values): A, B, C, D, H
Union of the given two sets is: {' C', ' H', ' B', ' D', 'A'}

27.  Develop a code that takes a tuple of integers as input. The function should return the maximum and
minimum values from the tuple using tuple unpacking

In [ ]:
def minmax(inpTup):
  makeTup = tuple(map(int, inpTup.split(',')))
  minValue = min(makeTup)
  maxValue = max(makeTup)
  return minValue, maxValue

inpTup = input("Enter the integers of tuple (comma-separated values): ")

result_min, result_max = minmax(inpTup)
print(f"Minimum value: {result_min}")
print(f"Maximum value: {result_max}")

Enter the integers of tuple (comma-separated values): 1,4,2,3,0,8,4,9,6,5,12
Minimum value: 0
Maximum value: 12

28. Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these
two sets

In [ ]:
set1 = {11,82,44,64,50,2,8,9,12,14,32}
set2 = {56,32,15,66,82,11,50,2}

print("Union :", set1|set2)
print("Intersection :", set1&set2)
print("difference :", set1-set2)

Union : {64, 2, 66, 8, 9, 11, 12, 14, 15, 82, 32, 44, 50, 56}
Intersection : {32, 2, 11, 50, 82}
difference : {64, 8, 9, 44, 12, 14}

29. Write a code that takes a tuple and an element as input. The function should return the count of
occurrences of the given element in the tuple

In [ ]:
def giveResult(inpTup, ele):
  makeTup = tuple(map(str.strip, inpTup.split(',')))
  count = makeTup.count(ele)
  return count

inpTup = input("Enter the elements of tuple (comma-separated values): ")
ele = input("Enter the element to find the occurance : ").strip()

print(f"The element '{ele}' has occured '{giveResult(inpTup, ele)}' times in given tuple ")

Enter the elements of tuple (comma-separated values): Apple, Banana, Mango, cherry, Tomato, Potato, Orange, cherry, Banana, Mango, Mango, Mango, Mango
Enter the element to find the occurance : Mango
The element 'Mango' has occured '5' times in given tuple

30. Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of
these two sets

In [ ]:
# symmetric difference : it includes elements that are unique to each set.
def makeSymDiff(inp1, inp2):
    set1 = set(map(str.strip, inp1.split(',')))
    set2 = set(map(str.strip, inp2.split(',')))
    symDiff = set1.symmetric_difference(set2)
    return symDiff

inp1 = input("Enter the first set of strings (comma-separated values): ")
inp2 = input("Enter the second set of strings (comma-separated values): ")

print(f"The symmetric difference of the given sets is : {makeSymDiff(inp1, inp2)}")

Enter the first set of strings (comma-separated values): apple, banana, orange, fig, mango, chicku
Enter the second set of strings (comma-separated values): apple, banana, cherry, mango
The symmetric difference of the given sets is : {'fig', 'orange', 'chicku', 'cherry'}

31.  Write a code that takes a list of words as input and returns a dictionary where the keys are unique words
and the values are the frequencies of those words in the input list

In [ ]:
li = ["Apple", "Papaya", "Potato", "Mango", "Apple", "Potato", "Tomato", "Apple", "Mango", "Mango", "Apple"]

def makedict(li):
  mydict = {}
  for i in li:
    mydict[i] = li.count(i)
  return mydict

makedict(li)

32.  Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are
common keys, the values should be added together

In [ ]:
def merging_dicts(dict1, dict2):
    merged_dict = dict1.copy()
    for key, value in dict2.items():
        if key in merged_dict:
            merged_dict[key] += value
        else:
            merged_dict[key] = value
    return merged_dict


dict1 = {'apple': 3, 'banana': 2, 'cherry': 5}
dict2 = {'apple': 2, 'banana': 1, 'mango': 4}

print("Merged Dictionary:", merging_dicts(dict1, dict2))

Merged Dictionary: {'apple': 5, 'banana': 3, 'cherry': 5, 'mango': 4}

33.  Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of
keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the
function should return None

In [ ]:
def ReturnValue(myfamily, children):
    val = {}
    for key in children:
        if key in myfamily:
            val[key] = myfamily[key].get("name")
        else:
            val[key] = None
    return val

myfamily = {
    "child1": {"name": "Vickey"},
    "child2": {"name": "John"},
    "child3": {"name": "Dany"}
}
children = ["child1", "child2", "child3", "child4"]

result = ReturnValue(myfamily, children)
print(result)

{'child1': 'Vickey', 'child2': 'John', 'child3': 'Dany', 'child4': None}

34. Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You
can choose whether to sort in ascending or descending order

In [9]:
fruits = {'apple': 5, 'banana': 3, 'cherry': 2, 'mango': 10, 'orange': 4, 'lichi': 8}

srtFruits = sorted(fruits.items(), key = lambda x : x[1])

sorted_fruits = dict(srtFruits)

print(sorted_fruits)

{'cherry': 2, 'banana': 3, 'orange': 4, 'apple': 5, 'lichi': 8, 'mango': 10}

35. Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary
correctly handles cases where multiple keys have the same value by storing the keys as a list in the
inverted dictionary.

In [10]:
def invDict(fruits):
  invertedDict= {}
  for key, value in fruits.items():
    if value not in invertedDict:
      invertedDict[value] = [key]
    else:
      invertedDict[value].append(key)
  return invertedDict


fruits = {'apple': 5, 'banana': 3, 'cherry': 2, 'mango': 5, 'orange': 2, 'lichi': 8, 'papaya': 2}
result = invDict(fruits)
print(result)

{5: ['apple', 'mango'], 3: ['banana'], 2: ['cherry', 'orange', 'papaya'], 8: ['lichi']}